/* CSS comments are just like multi-line JavaScript ones.*/
body {
    margin-top: 60px;
    font-family: helvetica;
    height: 3000px; /* Used to enable scrolling */
    background-image: url("images/blackbottom.png"), linear-gradient(#ffffff 5%, #353535 85.3%);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  
body.dark-mode {
  background-image: url("images/whitebottom.png"), linear-gradient(#000000 5%, #AEAEAE 85.3%);
  color: white;
}

ul {
    font-family: monospace;
  }
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

/* Add a white background color to the top navigation */
.topnav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: black;
  color: white;
}

.topnav .icon {
  display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a:first-child {
    background-color: black;
    color: white;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
  }
  .topnav.responsive a.active {
    font-weight: 900;
  }
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    margin-right: 0px;
  }
  .topnav.responsive a.icon:hover{
    background-color: rgb(54, 54, 54);
    color: white;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    margin-right: 55px;
    color: white;
  }
  .topnav.responsive a:hover {
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
  }
}

.button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: rgb(0, 0, 0); 
  color: white;
}
.button.dark-mode {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button.dark-mode:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


/* .myVideo{ 
  height: 500px;
}

.myVideo video{ 
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
} */