/* CSS comments are just like multi-line JavaScript ones.*/
body {
    font-family: helvetica;
    height: 3000px; /* Used to enable scrolling */
    background: linear-gradient(#1cb7ff 0%, #ffae2c 50%, #a31a08 100%);
  }
  
ul {
    font-family: monospace;
  }
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}